{:jwt-secret       #dyn/prop JWT_SECRET

 ;; if key :dburl is not null and is defined as #dyn/prop PG_URL it will take precedence over other configuration keys
 :xiana/postgresql {:dbname   #dyn/prop PG_DB_NAME
                    :host     #dyn/prop PG_HOST
                    :password #dyn/prop PG_PASSWORD
                    :port     #dyn/long #dyn/prop PG_PORT
                    :user     #dyn/prop PG_USER
                    :dburl    nil}

 :xiana/migration  {:seeds-dir "seeds/prod"}

 :xiana/web-server {:port #dyn/long #dyn/prop WS_PORT}}
