{:nrepl {:port 8777},
 :builds {:app {:target :browser,
                :output-dir "resources/public/assets/js",
                :asset-path "assets/js",
                :modules {:app {:init-fn app.core/init,
                                :preloads [devtools.preload]}}}},
 :deps true}
