#kaocha/v1
 {:tests [{:id          :integration
           :test-paths  ["test/app/integration"]
           :ns-patterns [".*"]}]}
          ;; :reporter kaocha.report.progress/report
          ;; :plugins [:kaocha.plugin/profiling :kaocha.plugin/notifier]
