{:logging/timbre {:min-level :info
                  :ns-filter {:allow #{"*"}}}

 :auth {:jwt-secret #dyn/prop JWT_SECRET}

 :xiana/postgresql {:host #dyn/prop [PG_HOST "localhost"]
                    :password #dyn/prop [PG_PASSWORD "postgres"]
                    :port #dyn/prop [PG_PORT "5432"]
                    :user #dyn/prop [PG_USER "postgres"]
                    :dburl #dyn/prop [PG_URL nil]}

 :xiana/migration {:seeds-dir "seeds/dev"}

 :xiana/web-server {:port #dyn/long #dyn/prop WS_PORT}}
